// colors
$white: #fff;
$gray-light: #e8e8e8;
$gray: #c7c7c7;
$black: #000;

$blue: #1b3359;

//paddings
$small-padding: 10px;
$padding: 20px;
$large-padding: 30px;

// font-size
$font-small: 12px;
$font-medium: 14px;
$font-large: 16px;
